In [15]:
import pandas as pd

In [16]:
path = "Resources/cities.csv"
df = pd.read_csv(path)
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [17]:
table = DataFrame.to_html(buf=None, columns=None, col_space=None, colSpace=None, header=True, index=True, na_rep='NaN', formatters=None, float_format=None, sparsify=None, index_names=True, justify=None, bold_rows=True, classes=None, escape=True, max_rows=None, max_cols=None, show_dimensions=False, notebook=False)

NameError: name 'DataFrame' is not defined

In [18]:
table = df.Dataframe.to_html

AttributeError: 'DataFrame' object has no attribute 'Dataframe'

In [19]:
table = pd.to_html(df)

AttributeError: module 'pandas' has no attribute 'to_html'